<!-- Carosel Container  -->

<!-- This is for product card section  which dynamicaly loaded-->
<div class="cards">
  <div class="card" style="width: 18rem;">
    <img src="https://m.media-amazon.com/images/I/81BE7eeKzAL._AC_UY218_.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Rich Dad Poor Dad</h5>
      <p class="card-text">What the Rich Teach Their Kids About Money That the Poor and Middle Class Do Not!</p>
      <a href="#" class="btn btn-primary">View Product</a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="https://m.media-amazon.com/images/I/61WpiPLatCL.__AC_SX300_SY300_QL70_FMwebp_.jpg" class="card-img-top"
      alt="...">
    <div class="card-body">
      <h5 class="card-title">Fitbit Sense 2</h5>
      <p class="card-text">Fitbit Sense 2 Advanced Health and Fitness Smartwatch with Tools to Manage Stress and Sleep,
        ECG App, SpO2, 24/7 Heart Rate and GPS, Shadow Grey/Graphite, One Size (S & L Bands Included)</p>
      <a href="#" class="btn btn-primary">View Product</a>
    </div>
  </div>
</div>

<div>products slider</div>

<!-- This is for cards section  which dynamicaly loaded-->
<div class="cards">
  <div class="card" style="width: 18rem;">
    <img
      src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/OOC/Gateway/wk_22/PC_CC_379x304._SY304_CB556151386_.jpg"
      class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Up to 50% off | International brands</h5>
      <p class="card-text">Limited Time Deal</p>
      <a href="#" class="btn btn-primary">View Products</a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img
      src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/OOC/Gateway/wk_23/379X304._SY304_CB556740834_.jpg"
      class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Up to 30% off | Home tools</h5>
      <p class="card-text">Limited Time Deal</p>
      <a href="#" class="btn btn-primary">View Products</a>
    </div>
  </div>
</div>